[submodule "submodules/reseng"]
	path = submodules/reseng
	url = git@github.com:antonbabkin/reseng.git
[submodule "submodules/infogroup"]
	path = submodules/infogroup
	url = git@github.com:antonbabkin/infogroup.git
[submodule "submodules/pubdata"]
	path = submodules/pubdata
	url = git@github.com:antonbabkin/pubdata.git
