data/*
tmp/
cache/
!data/fai.json
logs/

# symlinks to package directories
nbs/rurec
rurec/reseng
rurec/infogroup

# Vim
*.swp

# Python
.ipynb_checkpoints/
.last_checked
*.pyc

*DS_Store*

# only track .md versions of notebooks
*.ipynb
nbs/.Rhistory
nbs/.RData
