docs/
tmp/
cache/
logs/
census_api_key.txt

# do not commit data files
data/*
*.csv
*.rds
*.pq
*.parquet
*.xls
*.xlsx
*.zip
*.png
projects/isolation/data/

# Vim
*.swp

# Python
.ipynb_checkpoints/
.last_checked
*.pyc

*DS_Store*

# only track .md versions of notebooks
*.ipynb
*.Rhistory
*.RData
*.html
*_files/
nbs/*_cache/
.Rproj.user

# customize env vars locally
.Renviron

# symbolic links to packages: OS dependent, created on init
nbs/rurec
rurec/reseng
rurec/pubdata
rurec/infogroup
data/pubdata
nbs/misc/rurec

condor/*


/.quarto/

# either use global library or install with renv from DESCRIPTION
renv.lock
renv/

# RStudio connect config
rsconnect/

