data/*
docs/
tmp/
cache/
!data/fai.json
logs/
census_api_key.txt


# Vim
*.swp

# Python
.ipynb_checkpoints/
.last_checked
*.pyc

*DS_Store*

# only track .md versions of notebooks
*.ipynb
nbs/.Rhistory
nbs/.RData
